/* ---------------------------
        Common Design 
----------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #fff5ff;
}
:root{
    --card-shadow:3px 3px 12px #cecece;
    --btn-shadow:1px 1px 5px #d8d8d8;
}
/* ---------------------------
        Header Design 
----------------------------*/
header{
    /* height: 650px; */
    background-color: #2D25A0;
    margin-bottom: 70px;
}
.container{
    width: 80%;
    margin: auto;
}

/* Nav Bar Start */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 8px 18px;
    border-radius: 8px;
}
.nav-item a:hover{
    background-color: teal;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: crimson;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow:var(--btn-shadow) ;
}
.login img{
    height: 25px;
    width: 25px;
    margin-right: -15px;
    padding-left: 10px;
}

/* Header Banner Start */
.header-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    padding:35px 0;
}
.header-photo img{
    width: 100%;
}
.header-title h1{
    font-size: 64px;
    color: white;
    font-weight: 700;
}
.live-btn{
    height: 45px;
    width: 170px;
    padding: 10px 25px;
    border-radius: 8px;
    color: white;
    background-color: crimson;
    text-decoration: none;
    box-shadow:var(--btn-shadow) ;
}

/* ---------------------------
        Main Part Design 
----------------------------*/

/* Player Section Design */
.player-section{
    margin:50px 0;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.player{
    height: 475px;
    /* width: 300px; */
    background-color: white;
    box-shadow: var(--card-shadow);
    border-radius: 10px;
    padding: 18px;
    text-align: justify;
}
.player img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.read-btn{
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow:var(--btn-shadow) ;
}

/* Highlight Section Design */
.highlight-section{
    box-shadow: var(--card-shadow);
    width: 80%;
    margin: 100px auto;
    padding: 0 4%;
    border-radius: 10px;
    background-color: white;
}
.highlight-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    align-items: center;
    padding: 35px 0;
}
.highlight-info p{
    text-align: justify;
}
.highlight-info h1{
    font-size: 48px;
}
.highlight-photo img{
    width: 100%;
    height: 380px;
    border-radius: 10px;
}

/* ---------------------------
        Footer Part Design 
----------------------------*/
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-media a{
    padding: 0 10px;
    text-decoration: none;
}
.fa-instagram{
    color:  #e95950 ;
}
.fa-globe{
    color: 	#175dce;
}
.fa-twitter{
    color: #00acee;
}
.fa-youtube{
    color: #c4302b;
}
 .socal-icon{
    font-size: 30px;
    filter: grayscale(100%);
}
.socal-icon:hover{
    filter: grayscale(0%);
}
.footer-logo img{
    width: 480px;
    height: 110px;
}
.copyright{
    color: gray;
}
.copyright a{
    text-decoration: none;
    color: gray;
}
.copyright a:hover{
    color: teal;
}

/* ------------------------------------------
        Responsive for Mobile Device 
--------------------------------------------*/
@media only screen and (max-width: 768px) {
    .container{
        width: 90%;
    }
    .nav-bar{
        display: none;
    }
    /* Header Responsive */
    .header-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding:25px 0;
    }
    .header-title h1{
        font-size: 36px;
    }

    /* Player Responsive */
    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 30px;
    }
    .player{
        height: 500px;
        /* width: 300px; */
    }

    /* Highlight Responsive */
    .highlight-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        padding: 10px 0;
    }
    .highlight-info h1{
        font-size: 28px;
    }
    .highlight-photo img{
        width: 100%;
        height: 220px;
        border-radius: 10px;
    }

    /* Footer Responsive */
    .footer-logo img{
        width: 100%;
        height: 80px;
    }
    .copyright{
        text-align: center;
    }
}

/* ------------------------------------------
        Responsive for Tablet Device 
--------------------------------------------*/
@media only screen and (max-width: 1024px) {
    
}